{% extends "base_logged_in.html" %}
{% load static %}
{% comment %}
Template for viewing a resume.
{% endcomment %}

{% block styles %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static "resume.css" %}"/>
{% endblock %}

{% block content %}
		<div class="header-center-container">
			<div class="header-container">
				<h3 class="resume-title">{{ resume.label }}</h3>
			</div>
		</div>
	<div class="container content-section resume-container">
		<div class="header-center-container">
			<div class="header-container">
				<h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
				<h3>{{ request.user.email }}</h3>
			</div>
		</div>
		<div class="">
			<p>{{ resume.intro }}</p>
			<a href="{% url 'resume-edit' resume.pk %}"
			   class="btn btn-primary btn-edit">Edit Intro</a>
		</div>
		<a href="{% url 'resume-item-create' resume_pk=resume.pk %}"
		   class="btn btn-primary btn-create">Add Role</a>
		{% for link in resumelinks %}
			<section class="resume-item">
				<h3>{{ link.resumeitem.title }}</h3>
				<h4>{{ link.resumeitem.company }}</h4>
				<h4>{{ link.resumeitem.start_date | date:"M Y" }} -
					{% if link.resumeitem.end_date %}{{ link.resumeitem.end_date | date:"M Y" }}{% else %}Present{% endif %}</h4>
				{% if link.resumeitem.description %}<p>{{ link.resumeitem.description }}</p>{% endif %}
				<a class="btn btn-primary"
				   href="{% url 'resume-item-edit' resume_pk=resume.pk resume_item_id=link.resumeitem.pk %}">Edit</a>
			</section>
		{% endfor %}
	</div>
{% endblock %}
